<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1180.v04c4e75dce43">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2689.v434009a_31b_f1">
    <script>node {
    def mvnHome
    stage(&apos;config&apos;) { // for display purposes
        // Get some code from a GitHub repository
        git branch: &apos;main&apos;,
            credentialsId: &apos;palash-basik-token&apos;,
            url: &apos;https://github.com/esportsclub/config.git&apos;
        // Get the Maven tool.
        // ** NOTE: This &apos;M3&apos; Maven tool must be configured
        // **       in the global configuration.
        mvnHome = tool &apos;M3&apos;
        sh &apos;&apos;&apos;
            ls
        &apos;&apos;&apos;
    }
    stage(&apos;eureka&apos;) { // for display purposes
        // Get some code from a GitHub repository
        git branch: &apos;main&apos;,
            credentialsId: &apos;palash-basik-token&apos;,
            url: &apos;https://github.com/esportsclub/eureka.git&apos;
        // Get the Maven tool.
        // ** NOTE: This &apos;M3&apos; Maven tool must be configured
        // **       in the global configuration.
        mvnHome = tool &apos;M3&apos;
        
        
        sh &apos;&apos;&apos;
        ls
        # list
        &apos;&apos;&apos;
    }
    stage(&apos;ms-redis-cache&apos;) {
        git branch: &apos;main&apos;,
            credentialsId: &apos;palash-basik-token&apos;,
            url: &apos;https://github.com/esportsclub/infra-as-code.git&apos;
        dir(&apos;ms-redis-cache&apos;) {
            sh &apos;ls&apos;
        }
    }    
    stage(&apos;rabbitmq-notifications&apos;) {
        dir(&apos;rabbitmq-notifications&apos;) {
            sh &apos;ls&apos;
        }
    }
    stage(&apos;zipkin&apos;) {
        dir(&apos;zipkin/zipkin-standalone&apos;) {
            sh &apos;ls&apos;
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>